* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #221208;
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
  margin: auto;
  width: 90%;
  max-width: 920px;
}
.header {
  background-color: #221208;
  height: 5vh;
  align-content: center;
}
.head {
  width: 100%;
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head h1 {
  font-size: 1.5em;
}
.head #levels {
  width: 100%;
  max-width: 120px;
  padding: 0.8em;
  border: none;
  border-radius: 5px;
  /*appearance: none;*/
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fca771;
  color: white;
}

.starter {
  margin: 1.8em auto;
  padding: 0.5em;
  height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.info {
  font-size: 1.1em;
}
#message {
  font-size: 1.2em;
  display: none;
  margin-top: 1.5em;
}

.success {
  background-color: #00592c;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  color: #a1ffd0;
  animation: animate-message 1s;
}
.failure {
  background-color: #770800;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  color: #ffa7a1;
  animation: animate-message 1s;
}

/* Animating the message */

@keyframes animate-message {
  from {
    transform: translateY(25px);
  }
}

#seconds {
  color: #fca771;
}

#currentWord {
  font-size: 2em;
  color: dodgerblue;
  margin: 15px auto;
}

.starter {
  display: flex;
  gap: 1.2em;
  height: fit-content;
}
.starter input {
  outline: none;
  padding: 1em;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.starter input[type='button'] {
  cursor: pointer;
  outline: none;
  padding: 7px;
  margin: 1.5em auto;
  width: 8em;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: dodgerblue;
  color: white;
  /*display: none;*/
}

.timeAndScoreCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em auto;
  color: #221208;
  background-color: #fca771;
  width: 80%;
  max-width: 500px;
  border-radius: 3px;
  padding: 0.5em 1.5em;
}

.instruction {
  background: #fca771;
  color: #221208;
  width: 80%;
  max-width: 500px;
  padding: 2em;
  margin-top: 1.5em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  border-radius: 3px;
}

#highScore {
  cursor: pointer;
  outline: none;
  padding: 7px;
  margin: 1.5em auto;
  width: 8em;
  text-align: center;
  border: 2px solid #fca771;
  background-color: #fca771;
  border-radius: 5px;
  color: #552406;
}
.mainModal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #552406;
  padding: 1em;
  margin-top: 10em;
  border-radius: 5px;
  animation-name: animateTop;
  animation-duration: 0.4s;
}
@keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal h3 {
  margin: 0.8em 0 0.8em 0;
  color: #fca771;
}
.modalHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.modalHead h3 {
  margin: 0;
  justify-self: center;
}
.modalCont {
  display: grid;
  grid-template-rows: 3em 3em 3em;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.modalCont .scoreStyle {
  color: #fca771;
}
.closeModal {
  grid-column: 1;
  width: 3em;
  font-size: 1.5em;
  align-content: center;
  cursor: pointer;
  font-weight: bolder;
  padding: 1px 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

section {
  min-height: 90vh;
  align-content: center;
}

footer {
  background-color: #552406;
  width: 100vw;
  height: 5vh;
  padding: 0.5em;
  align-content: center;
}

footer a {
  color: #fca771;
  text-decoration: none;
}
