*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2e180a;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    margin: auto;
    width: 90%;
    max-width: 920px;
}
.header{
    background-color: #552406;
    padding: 1em;
}
.head{
    width: 100%;
    display: flex;
    justify-content: center;

}
.head h1{
    justify-items: center;
}
.head #levels{
    position: absolute;
    right: 2em;
    width: 100%;
    max-width: 90px;
    padding: .8em;
    border: none;
    border-radius: 5px;
    /*appearance: none;*/
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap ;
    background: #8f8f8f ;
    color: white;
}

.starter{
    margin: 1.8em auto;
    padding: .5em;
    height: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.info{
    font-size: 1.1em;
}
#message1{
    color: #e40000;
    font-size: 1.2em;
}
#message2{
    color: #00b100;
    font-size: 1.2em;
}
#seconds{
    color: #f81d00;
}

#currentWord{
    font-size: 2em;
    color: dodgerblue;
    margin: 15px auto;
}

.starter input{
    outline: none;
    padding: 7px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.starter input[type = "button"] {
    cursor: pointer;
    outline: none;
    padding: 7px;
    margin: 1.5em auto;
    width: 8em;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
    /*display: none;*/
}

.timeAndScoreCol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3em auto;
}

.instruction{
    background: #552406;
    width: 80%;
    max-width: 500px;
    padding: 1em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
}

#highScore{
    cursor: pointer;
    outline: none;
    padding: 7px;
    margin: 1.5em auto;
    width: 8em;
    text-align: center;
    border: 2px solid #f81d00;
    background-color: transparent;
    border-radius: 5px;
    color: white;
}
.mainModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    
} 
.modal{
    position: relative;
    width: 90%;
    max-width: 350px;
    background: #552406;
    padding: 1em;
    border-radius: 5px;
    animation-name: animateTop;
    animation-duration: .4s;
}
@keyframes animateTop{
    from {
        top: -300px; 
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
.modal h3{
    margin: .8em 0 .8em 0 ;
    color: #f81d00;
}
.modalCont{
    display: grid;
    grid-template-rows: 3em 3em 3em;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
}
.closeModal{
    width:1.5em;
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid #f81d00;
    padding: 1px 5px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.closeModal:hover{
    border: 2px solid #2e180a;
}